*.class

# Processing export directories #
######################
# 
# Processing PDE environment rubbish.
#
######################
**/application.linux32/
**/application.linux64/
**/application.macosx/
**/application.windows32/
**/application.windows64/
**/web-export/

#hopefully anywhere in the path
sketch.properties

#specific sketches
requestFiles/data/*

# Package Files #
*.jar
*.war
*.ear
